.todoListMain .header input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #000000;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    margin-right: 0px;
    background-color: #FFF;
    color: #000000;
    border: 2px solid #000000;
}

    .todoListMain .header button:hover {
        background-color: #FFF;
        border: 2px solid #000000;
        cursor: pointer;
    }

.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
}

    .todoListMain .theList li {
        color: #FFF;
        background-color: #000000;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        list-style: none;
    }

ul.theList {
    padding: 0;
}

.todoListMain .theList li {
    color: #FFF;
    background-color: #000000;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
}

    .todoListMain .theList li:hover {
        background-color: #808080;
        cursor: pointer;
    }

input[type = "checkbox"] {
    position: fixed;
    right: 450px;
}

const completedStyle {
    textDecoration: "line-through";
}
